@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/* General */

:root {
  --primary-color: var(#0284c7);
  --secondary-color: var(#cbd5e1);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  height: 90rem;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 17rem 1fr 1fr 1fr;
  grid-template-rows: 12rem;
  font-family: "Roboto", sans-serif;
}
/* Header */
.header {
  background-color: #fff;
  grid-column: 2/5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_ui_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}
.search_button {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.search_input {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 40rem;
  border: none;
  background-color: #cbd5e1;
  border-radius: 5rem;
  margin-left: 1rem;
  outline: none;
  padding: 0.3rem;
}
.primary_user {
  display: flex;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 4rem;
}
.prim_img_container {
  border-radius: 100rem;
  contain: content;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.prim_user_img {
  width: 5rem;
  height: 5rem;
}
.greeting {
  font-weight: 700;
}
.prim_user_name {
  font-size: 1.5rem;
  font-weight: 500;
}
.user_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_link_button {
  background-color: #0284c7;
  border-radius: 3rem;
  width: 7rem;
  height: 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 2rem;
  cursor: pointer;
}
.sm_prim_user_int {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notif_icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 2rem;
  cursor: pointer;
}
.sm_prim_img_container {
  border-radius: 100rem;
  contain: content;
  width: 3rem;
  height: 3rem;
}
.sm_user_img {
  width: 3rem;
  height: 3rem;
}
.sm_user_name {
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: 2rem;
}
/* Sidebar */
.navigation {
  background-color: #0284c7;
  grid-column: 1/2;
  grid-row: 1/5;
  padding: 1rem;
  color: #fff;
  font-weight: 900;
  font-size: 1.2rem;
}
.d_title_container {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.sidebar_logo {
  width: 5rem;
  height: 5rem;
  color: #fff;
}
.nav_icons_container {
}
.nav_icons {
  width: 2rem;
  height: 2rem;
  color: #fff;
  margin-right: 1.5rem;
}
.nav_links {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.nav_links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.seperate_links {
  margin-top: 2rem;
}
/* Body */
/* articles */
.body {
  background-color: #cbd5e1;
  grid-column: 2/5;
  grid-row: 2/5;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 23rem;
  grid-template-rows: 3rem 23rem;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/2;
}
.body_title {
  margin-left: 2rem;
}

.article_box {
  display: grid;
  grid-template-columns: 1.2rem 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #fff;
  width: 30rem;
  height: 18rem;
  margin: 1.5rem 1.5rem 0rem 1.5rem;

  border-radius: 5px;
}
.yellow-line {
  background-color: #ffd400;
  height: 18rem;
  width: 0.6rem;
  grid-column: 1/2;
  grid-row: 1/4;
  border-radius: 5px 0px 0px 5px;
}
.article_title {
  font-size: 1.5rem;
  grid-column: 2/3;
  grid-row: 1/2;
  letter-spacing: 0.1rem;
}
.article_text {
  padding: 1rem;
}
.article_content {
  grid-column: 2/3;
  grid-row: 2/3;
}
.article_buttons {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-right: 1.5rem;
}
.ar_button_icon {
  width: 2rem;
  height: 2rem;
  color: #333;
  margin: 0.5rem;
}

/* right side*/
.right_side_container {
  grid-row: 1/3;
  grid-column: 2/3;
}
/* Users */
.tren_container {
  grid-column: 2/3;
}
.trending_tab {
  background-color: #fff;
  width: 20rem;
  min-height: 20rem;
  grid-column: 2/3;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}
.user {
  display: flex;
  margin-left: 2rem;
}
.user_img_container {
  border-radius: 100rem;
  contain: content;
  width: 3rem;
  height: 3rem;
  grid-column: 1/2;
  margin-right: 1rem;
}
.users_image {
  width: 3rem;
  height: 3rem;
  display: inline;
}
.users_name {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  grid-column: 2/3;
}
.users_content {
  font-size: 1rem;
  color: #a8a29e;
  grid-column: 2/3;
}

/* announcements */
.announ_container {
  grid-column: 2/3;
}
.announcement_tab {
  background-color: #fff;
  width: 20rem;
  min-height: 20rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  align-items: left;
}
.announcement {
  max-height: 5rem;
  width: 10rem;
  margin-left: 2rem;
}
.line {
  width: 80%;
}
.ann_title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}
.ann_content {
  font-size: 0.8rem;
  color: #a8a29e;
}
